<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"> Online <h5>Shopping Portal</h5></a>

    <input class="form-control form-control-dark w-100 rounded-1 border-0" type="text" [(ngModel)]="searchTerm"
        (keyup)="search($event)" placeholder="Search" aria-current="page" />

    <ng-container *ngIf="role === 'admin'; else ifNot">
        <a class="navbar-brand col-md-1.5 col-lg-1.1 me-0 px-3 fs-6" href="/dashboard"> Hello, <p>{{fullName}}</p></a>
    </ng-container>
    <ng-template #ifNot>
        <a class="navbar-brand col-md-1.5 col-lg-1.1 me-0 px-3 fs-6" href="#"> Hello, <p>{{fullName}}</p></a>
    </ng-template>



    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <ng-container *ngIf="loggedIn === true; else elseNot">
                <a class="nav-link px-3 cursor-pointer" (click)="signout()"><u>Sign out</u></a>
            </ng-container>
            <ng-template #elseNot>
                <a href="/login">Login</a>
            </ng-template>
        </div>
    </div>

    <button routerLink="/cart" class="btn btn-dark">
        <i style="font-size: 20px;" class="fa fa-shopping-cart"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>

</header>

<!-- <header>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-2 fs-6" href="/dashboard">Online Shopping Portal</a>
        <input type="text" class="form-control form-control-dark w-100 rounded-1 border-0" [(ngModel)]="searchTerm"
            (keyup)="search($event)" placeholder="search products">

        <button routerLink="/cart" class="btn btn-dark">
            <i style="font-size: 25px;" class="fa fa-shopping-cart"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header> -->