<div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">

        <div class="input-group mb-12">
            <span class="input-group-text">Category Name</span>
            <input type="text" class="form-control" [(ngModel)]="CategoryName">
        </div>
        <div class="input-group mb-12">
            <span class="input-group-text">Segment ID</span>
            <input type="text" class="form-control" [(ngModel)]="SegmentId">
        </div>
    </div>
</div>
test
<div><button type="button" (click)="addtheCategory()" class="btn btn-danger">
        Add
    </button>test</div>