<!--  -->
<div class="container-xl">
    <!-- <button (click)="signout()" class="btn btn-primary account-btn">Sign out</button> -->
    <div class="table-responsive">

        <div class="table-wrapper">

            <div class="table-title">
                <div class="row">

                    <!-- <div class="col-sm-6">
                        <h4>Hello, {{fullName}}</h4>
                    </div> -->
                    <div>
                        <nav class="navbar navbar-light bg-light
                            justify-content-between">
                            <a class="navbar-brand">Online Shopping Portal</a>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2
                                    my-sm-0" type="submit">Search</button>

                                <button routerLink="/cart" class="btn btn-primary">Cart</button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered
                table-content">
                <thead>
                    <tr class="center-align">
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Model</th>
                        <th>Product Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of productList" class="center-align">
                        <td>{{ category.productName }}</td>
                        <td>{{ category.productDescription }}</td>
                        <td>{{ category.productModel }}</td>
                        <td>{{ category.productPrice }}</td>

                </tbody>







            </table>
        </div>
    </div>
</div>
<!-- <h1>HEllo PRoducts ss</h1> -->

<!-- <tbody>
    <a>List of items</a>
    <tr *ngFor="let item of productList">
        <td>{{ item.productName }}</td>
        <td>{{ item.productDescription }}</td>

    </tr>
</tbody> -->